<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.ShenheMapper">
  <resultMap id="BaseResultMap" type="com.bw.pojo.Shenhe">
    <id column="sid" jdbcType="BIGINT" property="sid" />
    <result column="qishu" jdbcType="VARCHAR" property="qishu" />
    <result column="tid" jdbcType="BIGINT" property="tid" />
    <result column="benjin" jdbcType="DECIMAL" property="benjin" />
    <result column="startdate" jdbcType="DATE" property="startdate" />
    <result column="jisuandate" jdbcType="DATE" property="jisuandate" />
    <result column="lastdate" jdbcType="DATE" property="lastdate" />
    <result column="shenhe" jdbcType="BIGINT" property="shenhe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, qishu, tid, benjin, startdate, jisuandate, lastdate, shenhe
  </sql>
  <select id="selectByExample" parameterType="com.bw.pojo.ShenheExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shenhe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shenhe
    where sid = #{sid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shenhe
    where sid = #{sid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bw.pojo.ShenheExample">
    delete from shenhe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bw.pojo.Shenhe">
    insert into shenhe (sid, qishu, tid, 
      benjin, startdate, jisuandate, 
      lastdate, shenhe)
    values (#{sid,jdbcType=BIGINT}, #{qishu,jdbcType=VARCHAR}, #{tid,jdbcType=BIGINT}, 
      #{benjin,jdbcType=DECIMAL}, #{startdate,jdbcType=DATE}, #{jisuandate,jdbcType=DATE}, 
      #{lastdate,jdbcType=DATE}, #{shenhe,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bw.pojo.Shenhe">
    insert into shenhe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="qishu != null">
        qishu,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="benjin != null">
        benjin,
      </if>
      <if test="startdate != null">
        startdate,
      </if>
      <if test="jisuandate != null">
        jisuandate,
      </if>
      <if test="lastdate != null">
        lastdate,
      </if>
      <if test="shenhe != null">
        shenhe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="qishu != null">
        #{qishu,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="benjin != null">
        #{benjin,jdbcType=DECIMAL},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=DATE},
      </if>
      <if test="jisuandate != null">
        #{jisuandate,jdbcType=DATE},
      </if>
      <if test="lastdate != null">
        #{lastdate,jdbcType=DATE},
      </if>
      <if test="shenhe != null">
        #{shenhe,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bw.pojo.ShenheExample" resultType="java.lang.Long">
    select count(*) from shenhe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shenhe
    <set>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=BIGINT},
      </if>
      <if test="record.qishu != null">
        qishu = #{record.qishu,jdbcType=VARCHAR},
      </if>
      <if test="record.tid != null">
        tid = #{record.tid,jdbcType=BIGINT},
      </if>
      <if test="record.benjin != null">
        benjin = #{record.benjin,jdbcType=DECIMAL},
      </if>
      <if test="record.startdate != null">
        startdate = #{record.startdate,jdbcType=DATE},
      </if>
      <if test="record.jisuandate != null">
        jisuandate = #{record.jisuandate,jdbcType=DATE},
      </if>
      <if test="record.lastdate != null">
        lastdate = #{record.lastdate,jdbcType=DATE},
      </if>
      <if test="record.shenhe != null">
        shenhe = #{record.shenhe,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shenhe
    set sid = #{record.sid,jdbcType=BIGINT},
      qishu = #{record.qishu,jdbcType=VARCHAR},
      tid = #{record.tid,jdbcType=BIGINT},
      benjin = #{record.benjin,jdbcType=DECIMAL},
      startdate = #{record.startdate,jdbcType=DATE},
      jisuandate = #{record.jisuandate,jdbcType=DATE},
      lastdate = #{record.lastdate,jdbcType=DATE},
      shenhe = #{record.shenhe,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bw.pojo.Shenhe">
    update shenhe
    <set>
      <if test="qishu != null">
        qishu = #{qishu,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=BIGINT},
      </if>
      <if test="benjin != null">
        benjin = #{benjin,jdbcType=DECIMAL},
      </if>
      <if test="startdate != null">
        startdate = #{startdate,jdbcType=DATE},
      </if>
      <if test="jisuandate != null">
        jisuandate = #{jisuandate,jdbcType=DATE},
      </if>
      <if test="lastdate != null">
        lastdate = #{lastdate,jdbcType=DATE},
      </if>
      <if test="shenhe != null">
        shenhe = #{shenhe,jdbcType=BIGINT},
      </if>
    </set>
    where sid = #{sid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bw.pojo.Shenhe">
    update shenhe
    set qishu = #{qishu,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=BIGINT},
      benjin = #{benjin,jdbcType=DECIMAL},
      startdate = #{startdate,jdbcType=DATE},
      jisuandate = #{jisuandate,jdbcType=DATE},
      lastdate = #{lastdate,jdbcType=DATE},
      shenhe = #{shenhe,jdbcType=BIGINT}
    where sid = #{sid,jdbcType=BIGINT}
  </update>
</mapper>