<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.dao.mapper.TypeMapper">
  <resultMap id="BaseResultMap" type="com.bw.pojo.Type">
    <id column="tid" jdbcType="BIGINT" property="tid" />
    <result column="month" jdbcType="BIGINT" property="month" />
    <result column="lid" jdbcType="BIGINT" property="lid" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tid, month, lid, cid
  </sql>
  <select id="selectByExample" parameterType="com.bw.pojo.TypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type
    where tid = #{tid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from type
    where tid = #{tid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bw.pojo.TypeExample">
    delete from type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bw.pojo.Type">
    insert into type (tid, month, lid, 
      cid)
    values (#{tid,jdbcType=BIGINT}, #{month,jdbcType=BIGINT}, #{lid,jdbcType=BIGINT}, 
      #{cid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bw.pojo.Type">
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="lid != null">
        lid,
      </if>
      <if test="cid != null">
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="month != null">
        #{month,jdbcType=BIGINT},
      </if>
      <if test="lid != null">
        #{lid,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bw.pojo.TypeExample" resultType="java.lang.Long">
    select count(*) from type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update type
    <set>
      <if test="record.tid != null">
        tid = #{record.tid,jdbcType=BIGINT},
      </if>
      <if test="record.month != null">
        month = #{record.month,jdbcType=BIGINT},
      </if>
      <if test="record.lid != null">
        lid = #{record.lid,jdbcType=BIGINT},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update type
    set tid = #{record.tid,jdbcType=BIGINT},
      month = #{record.month,jdbcType=BIGINT},
      lid = #{record.lid,jdbcType=BIGINT},
      cid = #{record.cid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bw.pojo.Type">
    update type
    <set>
      <if test="month != null">
        month = #{month,jdbcType=BIGINT},
      </if>
      <if test="lid != null">
        lid = #{lid,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
    </set>
    where tid = #{tid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bw.pojo.Type">
    update type
    set month = #{month,jdbcType=BIGINT},
      lid = #{lid,jdbcType=BIGINT},
      cid = #{cid,jdbcType=BIGINT}
    where tid = #{tid,jdbcType=BIGINT}
  </update>
  <select id="findTypeAndRateList" resultType="com.bw.pojo.vo.All">
    select * from type,rates where type.lid=rates.lid
  </select>

  <select id="findTypeAndRateOne" resultType="com.bw.pojo.vo.All">
    select * from type,rates where type.lid=rates.lid and type.tid=#{tid}
  </select>


  <select id="findAll" resultType="com.bw.vo.TypeVoRates">
    select t.tid, t.month, r.lilv, r.udate from type t, rates r where t.lid = r.lid
  </select>
</mapper>